nav {
    width: 100%;
    position: sticky;
    top: 0;
}
.location>h5 {
    color: rgb(0, 0, 0);
    font-weight: 800;
    margin-bottom: 6px;
    font-size: 18px;
}

.location>p {
    margin: 0;
    font-size: 13px;
    color: rgb(0, 0, 0);
    font-weight: 400;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: auto;
    max-width: 210px;
    text-overflow: ellipsis;
}

.vertical-line {
    height: 55px;
    border: 1px solid rgba(0, 0, 0, 0.103)
}

.search-div {
    padding: 0px 12px;
    height: 46px;
    display: flex;
    width: 40vw;
    align-items: center;
    gap: 8px;
    border: 1px solid rgb(232, 232, 232);
    border-radius: 12px;
    background: rgb(248, 248, 248);
    color: rgb(130, 130, 130);
    box-shadow: none;
}

.search-div>input {
    border: none;
    background-color: transparent;
}

::placeholder {
    font-size: 14px;
    color: rgb(153, 153, 153);
}

.my-cart {
    background-color: #03831e !important;
    font-size: 14px !important;
    font-weight: 600;
}

.my-categories {
    width: 100vw;
    /* background-color: blue; */
}
.my-container, .category-section{
    width: 82%;
    margin: auto;
    padding-block: 1rem;
    overflow-x: scroll;
}
/* Hide the scrollbar */
.my-container::-webkit-scrollbar {
    width: 0.5em; 
  }
  
  .my-container::-webkit-scrollbar-track {
    background-color: transparent; 
  }

.category-section::-webkit-scrollbar{
    background-color: transparent;
}
#categories{
    width: 84% !important;
    margin: auto;
}

.my-list {
    white-space: nowrap;
    /* display: flex; */
}
.my-list>img {
    padding-right: 10px;
}
.my-card {
    width: 300px;
}
.my-card-time {
    width: fit-content;
    border-radius: 4px;
    background-color: rgb(248,248,248);
    padding: 0px 4px;
    font-weight: 700;
    font-size: 9px;
    color: rgb(54,54,54);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-time-logo {
    height: 10px;
    width: 10px;
    margin-bottom: 6px;
}
.my-card-title{
    color: rgb(31,31,31);
    font-weight: 700;
    font-size: 13px;
}
.card-weight {
    font-size: 9px;
}
.card-price {
    color: rgb(31, 31, 31);
    font-weight: 700;
    font-size: 12px;
}