nav {
    width: 100%;
    position: sticky;
    top: 0;
}
.location>h5 {
    color: rgb(0, 0, 0);
    font-weight: 800;
    margin-bottom: 6px;
    font-size: 18px;
}

.location>p {
    margin: 0;
    font-size: 13px;
    color: rgb(0, 0, 0);
    font-weight: 400;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: auto;
    max-width: 210px;
    text-overflow: ellipsis;
}

.vertical-line {
    height: 55px;
    border: 1px solid rgba(0, 0, 0, 0.103)
}

.search-div {
    padding: 0px 12px;
    height: 46px;
    display: flex;
    width: 40vw;
    align-items: center;
    gap: 8px;
    border: 1px solid rgb(232, 232, 232);
    border-radius: 12px;
    background: rgb(248, 248, 248);
    color: rgb(130, 130, 130);
    box-shadow: none;
}

.search-div>input {
    border: none;
    background-color: transparent;
}

::placeholder {
    font-size: 14px;
    color: rgb(153, 153, 153);
}

.my-cart {
    background-color: #03831e !important;
    font-size: 14px !important;
    font-weight: 600;
}

.my-categories {
    width: 100vw;
    /* background-color: blue; */
}
.my-container{
    width: 82%;
    margin: auto;
    padding-block: 1rem;
    overflow-x: scroll;
}
/* Hide the scrollbar */
.my-container::-webkit-scrollbar {
    width: 0.5em; 
  }
  
  .my-container::-webkit-scrollbar-track {
    background-color: transparent; 
  }

.category-section::-webkit-scrollbar{
    background-color: transparent;
}
#categories{
    width: 84% !important;
    margin: auto;
}

.my-list {
    white-space: normal;
    display: flex;
    gap: 20px;
    /* overflow-x: auto; */
}
.my-list>.my-card {
    width: 200px !important;
}
.my-list>img {
    padding-right: 10px;
}
.my-card {
    width: 300px !important;
    flex: 0 0 200px;
}
.my-card-time {
    width: fit-content;
    border-radius: 4px;
    background-color: rgb(248,248,248);
    padding: 0px 4px;
    font-weight: 700;
    font-size: 9px;
    color: rgb(54,54,54);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-time-logo {
    height: 10px;
    width: 10px;
    margin-bottom: 6px;
}
.my-card-title{
    color: rgb(31,31,31);
    font-weight: 700;
    font-size: 13px;
}
.card-weight {
    font-size: 9px;
}
.card-price {
    color: rgb(31, 31, 31);
    font-weight: 700;
    font-size: 12px;
}
.category-section {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.category-container{
    width: 83%;
    overflow: auto;
    margin: auto;
}
/* footer */
.my-footer {
    width: 83%;
    margin: auto;
    text-align: justify;
}

.row-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.download-section>img {
    height: 2rem;
}
.social-btn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.social {
    display: flex;
    gap: 1rem;
}
.row-1{
    display: flex;
}
.useful-links {
    flex: 2;
}
.categories-links{
    flex: 3;
}
table{
    width: 100%;
}
td {
    padding-block: 3px;
}

@media screen and (max-width: 768px){
    nav {
        flex-direction: column;
    }
    .vertical-line{
        display: none;
    }
    .hero-section>img {
        display: none;
    }
    .row-2>p{
        width: 90%;
    }
    .my-footer{
        flex-direction: column;
    }
    .row-2,.row-1{
        flex-direction: column;
    }
    td{
        font-size: small;
        margin-left: 5px;
    }
}